.form-control {
  margin: 0.5rem 2rem;
  position: relative;;
}


.form-control input {
  display: block;
  width: 100%;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font: inherit;
  line-height: 1.5rem;
  padding: 0 0.9rem;
}
.form-control input:focus{
     outline: none;
     border-color: rgb(102, 255, 204);
     transition: all 200ms ease-in-out;
}
.form-control button{
    position: absolute;
    top:5px;
    right: 8px;
    background-color: white;
    color: rgb(47, 255, 116);
    border: none;
    font-size: 1.7rem;
    border-radius: 100%;
    font-weight: 700;
    transition: all 200ms ease-out;
}
.form-control button:hover{
  transform: scale(1.2);
}
.form-control.invalid input{
  border-color: red;
  transition: all 200ms ease-in-out;
}
